.register {
  height: 600px;
  width: 500px;
  background: #ffffff;
  margin: 100px auto;
  display: grid;
  grid-template-rows: 1fr 4fr 2fr;
  padding: 20px;
  border-radius: 5px;
}

.register .title {
  text-align: center;
  font-size: 38px;
  line-height: 100px;
}

.register input {
  width: 460px;
  display: block;
  padding: 10px 30px;
  font-size: 26px;
  border: none;
  border-radius: 5px;
  background: #f0f3f8;
  outline: none;
  margin: 20px auto;
  box-sizing: border-box;
}

.register button {
  background: #0665d0;
  color: white;
  border-radius: 5px;
  width: 460px;
  display: block;
  margin: 20px auto;
  padding: 10px 30px;
  font-size: 26px;
  border: none;
  cursor: pointer;
}

.register .bottom {
  box-sizing: border-box;
  padding: 10px 30px;
  text-align: center; /* 将链接居中对齐 */
}

.register .bottom a {
  text-decoration: none;
  margin: 0 10px;
  color: #6c7c8c;
  font-size: 20px;
}
