.App {
  margin: 100px auto;
  height: 50px;
  width: 500px;
  overflow: hidden;
  display: grid;
  color: #1a2b2b;
  grid-template-rows: repeat(1, 1fr);
}
.img {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.printf,
.printff {
  display: block;
  margin: 10px 48%;
  height: 50px;
}
img {
  width: 50px;
  height: 100px;
}
